.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;

}

.div{
    width: 60%;
    background-color:  rgb(52,146,52);
    filter: drop-shadow(0px 8px 8px rgb(0, 0, 0)); 
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.divIm{
    display: flex;
    width: 45%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.divDatos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'ChildrenSans';
    width: 45%;
}

.titulo{
    font-family: 'get_schwifty';
    margin-left: 1rem;
    color: white;
    font-size: 2.5rem;
    filter: drop-shadow(0px 8px 4px rgb(0, 0, 0)); 
}

.texto{
    transform: translateY(-1rem);
    align-items: end;
    color: black;
    font-size: 150%;
}
.imagen{
    height: 20rem;
    border-radius: 5%;
    filter: drop-shadow(0px 8px 8px rgb(0, 0, 0)); 
}

@font-face{
    font-family: "get_schwifty";
    src: url('../../fonts/get_schwifty.ttf');
    font-family: 'Bazinga-Regular';
    src: url('../../fonts/Bazinga-Regular.otf');
    font-family: 'Bazinga-RegularItalic';
    src: url('../../fonts/Bazinga-RegularItalic.otf');
    font-family: 'ChildrenSans';
    src: url('../../fonts/ChildrenSans.ttf');

 }