.div{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    transition: transform 0.4s ease;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    position: relative;
}

.divTexto{
display: none;
}

.name{
    display: none;
}

.div:hover {
    transform: scale(1.2);
    z-index: 1;
    
    .name{
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-family: 'get_schwifty';
        font-size: large;
        filter: drop-shadow(0px 8px 8px rgb(0, 0, 0));   
        text-decoration: none;     
        position: absolute;
        right:0%;
        left: 0%;
        top:110%
    }
    


    .boton{
        position: relative;
        left: 88%;
        transform: translateY(1.5rem);
        color: white;
        background-color: transparent;
        border-color: transparent;
        z-index: 1;
    }
    .boton:hover{
        transform: translateY(1.3rem) scale(3);
        transition: transform 0.4s ease;
        z-index: 1;
        color:black;
    }
    .botonFav{
        right: 85%;
        transform: translateY(1.5rem);
        color: white;
        background-color: transparent;
        border-color: transparent;
        z-index: 1;
    }
    .botonFav:hover{
        transform: translateY(1.2rem) scale(1.8);
        transition: transform 0.4s ease;
        z-index: 1;
        color:white;
    }
    .divTexto{
        display: none;
    }
}

.img{
    filter: grayscale(100%);
    opacity: 90%;
    width: 15rem;
    border-radius: 5%;
    position: relative
    
}

.img:hover{
    position: relative;
    filter: grayscale(0%);
    filter: drop-shadow(0px 8px 8px rgb(83, 238, 83));
    opacity: 100%;
    width: 15rem;
    border-radius: 5%;


}

.img:active{
    position: relative;
    filter: drop-shadow(0px 8px 8px rgb(255, 255, 255));
    opacity: 100%;
    width: 15rem;
    border-radius: 5%;


}


.boton{
    position: relative;
    left: 90%;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.botonFav{
    position: absolute;
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}


/* .img:active{
    position: relative;
    filter: grayscale(50%);
    filter: drop-shadow(0px 8px 8px rgb(238, 83, 91));
    opacity: 100%;
    width: 15rem;
    border-radius: 5%;
}
 */

@font-face{
    font-family: "get_schwifty";
    src: url('../../fonts/get_schwifty.ttf');;
}
